mixin tooltip(args={})
	+include-style('mixin__tooltip')
	+include-script('mixin__tooltip')
	.tooltip-wrap.tt-trigger.js-tt-trigger(
		class=args.mod
		data-toggle="tooltip"
		data-placement="top"
		data-html="true"
		data-hover="true"
		data-original-title=args.inner
		)
		